.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ac830b;
    padding: 10px;
    width:90%;
    margin: 0 auto;
    margin-top: 1rem;

    label{
       width: 70%
    }
    input, button {
        min-height: 2rem;
        min-width: 15%;

    }
    button{
        margin-right: 1rem;
    }
}