.item{
    display: flex;
    align-items: center;
    justify-content: space-between;

    label{
       width: 70%
    }
    input, button {
        min-height: 2rem;
        min-width: 15%;

    }
    button{
        margin-right: 1rem;
    }
}