.add-item{
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;

    input{
        width: 80%;
        padding: .5rem;
        font-size: 1rem;
        outline: none;
    }
    button{
        flex-grow:1;
        width: 15%;
        padding: .5rem;
        font-size: 1rem;

    }
}