.item-list{
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-top: 0;
}
.additem{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}